@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #eee;
  }

  .active {
    color: #b0181c;
    font-weight: bold;
  }

  .bg-modal {
    background-color: rgba(36, 33, 33, 0.5);
  }
}
